Create A List

In [1]:
li = []

In [2]:
li = [1,2,3]

In [3]:
type(li)

list

In [4]:
li = [1,2,]

In [5]:
li = [1,2,]

In [6]:
li = [1,2,"Parikh",3.4]

In [7]:
li

[1, 2, 'Parikh', 3.4]

Access And Change Elements In List

In [8]:
li[0]

1

In [9]:
li[2]

'Parikh'

In [10]:
li[3]

3.4

In [11]:
li[4]

IndexError: list index out of range

In [12]:
li[0] = 5

In [13]:
li

[5, 2, 'Parikh', 3.4]

In [14]:
li[3] = "Rohan"

In [15]:
li

[5, 2, 'Parikh', 'Rohan']

In [16]:
li[4] = 9

IndexError: list assignment index out of range

Slicing Of A List

In [17]:
li[1:3]

[2, 'Parikh']

In [18]:
li

[5, 2, 'Parikh', 'Rohan']

In [19]:
li[1:]

[2, 'Parikh', 'Rohan']

In [20]:
li[:]

[5, 2, 'Parikh', 'Rohan']

In [21]:
li[1:10]

[2, 'Parikh', 'Rohan']

Insert And Append Elements In List

In [22]:
li.append("Ankush")

In [23]:
li

[5, 2, 'Parikh', 'Rohan', 'Ankush']

In [24]:
li.insert(1,)

TypeError: insert() takes exactly 2 arguments (1 given)

In [25]:
li.insert(1,7)

In [26]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush']

In [27]:
li.insert(6,10)

In [28]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10]

In [29]:
li.insert(9,"Karan")

In [30]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan']

In [31]:
li.append([9,10,11])

In [32]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11]]

In [33]:
li.extend([9,10,11])

In [34]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

Removing Elements From List

In [35]:
li.remove(2)

In [36]:
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

In [37]:
li.append(5)

In [38]:
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [39]:
li.remove(5)

In [40]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [41]:
li.remove(6)

ValueError: list.remove(x): x not in list

In [42]:
li.pop()

5

In [43]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

In [44]:
li.pop()

11

In [45]:
li.pop(2)

'Rohan'

In [46]:
li

[7, 'Parikh', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10]

In [47]:
li.pop(18)

IndexError: pop index out of range

In [48]:
li.pop(4)

'Karan'

In [49]:
li

[7, 'Parikh', 'Ankush', 10, [9, 10, 11], 9, 10]

In [50]:
len(li)

7